.palette {
	max-width: none !important;
	margin: 0 auto;
	position: relative;
	width: 780px;
}

.gridly {

}

.swatch-item {
	position: relative;
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	&.fade-in {
		opacity: 1;
	}

	&.small {
		width: 140px;
		height: 160px;
		.swatch-item__swatch {
			height: 140px;
		}
	}
	&.large {
		width: 300px;
		height: 340px;
		.swatch-item__swatch {
			&--circle {
				// margin-top: 10px;
				height: 300px;
				margin-bottom: 20px;
			}
			&--square {
				height: 320px;
			}
		}
	}
	&.dragging {
		opacity: 0.8 !important;
	}

	}
	.swatch-item__swatch {
		cursor: pointer;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
		.swatch-item__swatch--circle {
			border-radius: 50%;
		}
		.swatch-item__swatch--square {
			border-radius: 0;
		}

	input.swatch-item__label {
		width: 100%;
		padding-top: 4px;
		font-weight: 600;
		font-size: 13px;
		text-align: center;
		border: 0 !important;
		background: none;
		line-height: 1.1;
		&:focus {
			outline: none;
		}
	}


.toolbar {
		position: relative;
		margin: 7px 0 13px;
		overflow: hidden;
		font-size: 16px;
	}
	.toolbar__center {
		position: absolute;
		width: 100%;
		text-align: center;
		font-weight: 600;
		z-index: 0;
	}

	.toolbar__toggle {
		display: block;
		cursor: pointer;
		position: relative;
		padding: 0 0.5em;
		transition: color 0.3s;
		z-index: 1;
		color: $gray-dark;

		&:hover, &.active {
			color: $gray-darkest;
		}
	}

	.toolbar__right > * {
		float: right;
	}

	.toolbar__left > * {
		float: left;
	}

	.toggle-varName, .toggle-colorVal {
		font-size: 18px;
		margin-top: -3px;
		font-family: $code-font-family;
	}