.extract {
	text-align: center;
	margin-top: 100px;

	img {
		width: 120px;
		margin: 0 auto;
	}

	p { margin-bottom: em(10); color: $gray-dark }


}

textarea.extract-code {
	font-family: "inconsolata",sans-serif;
	font-size: 14px;
	width: 100%;
	padding: 1em;
	min-height: 250px;
	border-radius: 5px;
	background: $gray-lightest;

	&:focus {
	  border-color: $form-border-color-focus;
	  // box-shadow: $form-box-shadow-focus;
	  outline: none;
	}
}

.codeView .extract-code {
	height: 550px;
}

.palette-content > * {
	display: none;

	&.active {
		display: inherit;
	}
}

.fb-like, .twitter-share-button {
  display: inline !important;
  vertical-align: middle !important;
}

span.github {
	position: relative;
	top: 6px;
	margin-left: -20px;
}

span.facebook {
	position: relative;
	top: -5px;
}

.share-links{
	// position: absolute;
	// left: 50%;
	// margin-left: -160px;
	width: 320px;
	margin: 0 auto;
	padding-left: 30px;
}

.footer {
	margin-top: 50px;
}

#cycleSample {
	position: absolute;
	top: 10px; right: 20px;
	cursor: pointer;
	color: $gray;
	transition: all 0.3s;
	&:hover {
		color: $gray-darker;
	}
}