<template name="extract">
	<div class="container extract">
		<img src="/images/huely_logo.png" alt="Huely">
		<p>Visually extract colors from code.</p>
		<form action="" style="position: relative;">
			<span id="cycleSample"><i class="fa fa-recycle"></i></span>
			<textarea class="extract-code" name="" id=""></textarea>
			<button>Extract</button>
		</form>
	</div>
	
	<!-- Social Share Links -->
	<div class="share-links">
		<!-- Facebook Like -->
		{{ > facebook }}		
		<!-- Twitter tweet -->
		{{ > twitter}}
		<!-- Github Star -->
		<span class="github">	<iframe src="http://ghbtns.com/github-btn.html?user=jeloi&repo=huely&type=watch&count=true"
			allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></span>
	</div>

	<div class="signature">Built by <a href="https://twitter.com/_Jeloi">@_Jeloi</a></div>
</template>


<template name="twitter">
	<span class="twitter"></span>
</template>

<template name="facebook">
  <span class="facebook"></span>
</template>





