<template name="landing">
	<div class="landing">
		<div class="landing-wrapper">
			<div class="landing-content">
				<img src="/images/huely_logo.png" alt="Huely">
				<p>A simple tool for extracting and visualizing color palettes from code.</p>
				<p><strong>Coming in Aug. 2014</strong></p>
				<form id="mc-form">
				<input id="mc-email" type="email" placeholder="Email me when launched.">
					<label for="mc-email"></label>
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</template>