<template name="landing">
	<div class="landing">
		<div class="landing-wrapper">
			<div class="landing-content">
				<img src="/images/huely_logo.png" alt="Huely">
				<p>A simple tool for extracting and visualizing color palettes from code.</p>
				<form id="mc-form">
					<input id="mc-email" type="email" placeholder="Email me when launched.">
					<div style="display: none">
						<input type="checkbox" value="4" name="group[12101][4]" id="mce-group[12101]-12101-0" checked><label for="mce-group[12101]-12101-0">Huely: Presignup</label>
					</div>
					<button type="submit" class="u-clearfix">submit</button>
					<label for="mc-email"></label>
				</form>
				<p class="thanks"></p>
				<p><strong>Coming in Aug. 2014</strong></p>
			</div>
		</div>
	</div>

	<script>
		$('#mc-form').ajaxChimp({
		    callback: mailchimpCallback,
		    url: "http://jeremyh.us8.list-manage.com/subscribe/post?u=300a76d9dd1a2ed016c37bcdb&amp;id=601449e888"
		});

		function mailchimpCallback(resp) {
			if (resp.result == "error") {
				console.log(resp.msg);
			} else {
				$("#mc-form").remove();
				$('.thanks').text("Thanks! We've sent you a confirmation email.")
			};
		}
	</script>

</template>