<template name="palette">
	<style type="text/css">
		.gridly {
			position: relative;
			width: 960px;
		}
		.swatch.small {
			width: 140px;
			height: 180px;
		}
		.swatch.large {
			width: 300px;
			height: 300px;
		}
	</style>
	<section class='palette example gridly container'>
		{{#each swatches}}
		<div class='swatch small' style="background-color: {{colorVal}}">
			<a class='delete' href='#'>&times;</a>
		</div>
		{{/each}}
		<p class='actions'>
			<a class='add button' href='#'>Add</a>
		</p>
	</section>
</template>