<template name="palette">
	<div class="container">

		<div class="toolbar">
			<div class="toolbar__toggle toolbar__shape">Circle</div>
			<div class="toolbar__toggle toolbar__label">Default</div>
		</div>

		<section class='palette example gridly'>
			{{#each swatches}}
			<div class='swatch-item small'>
				<div class="swatch-item__swatch {{swatchStyle}}" style="background-color: {{colorVal}};"></div>
				<!-- <a class='delete' href='#'>&times;</a> -->
				<input type="text" class="swatch-item__text" value="{{nameOrVal}}">
			</div>
			{{/each}}
		<!-- 		<p class='actions'>
				<a class='add button' href='#'>Add</a>
			</p> -->
		</section>
	</div>
</template>