<template name="palette">
	<div class="container">

		<div class="toolbar">
			<div class="toolbar__left u-float-left">
				<div class="toolbar__toggle toolbar__variable">Circles</div>
				<div class="toolbar__toggle toolbar__circle">Squares</div>
			</div>

			<div class="toolbar__center">{{swatchCount}} {{pluralize swatchCount "color" "colors"}}</div>

			<div class="toolbar__right u-float-right">
				<div class="toolbar__toggle {{paletteViewActive}}">Palette</div>
				<div class="toolbar__toggle {{codeViewActive}}">Code</div>
			</div>


		</div>

		<section class='palette gridly'>
			{{#each swatches}}
			<div class='swatch-item small'>
				<div class="swatch-item__swatch {{swatchStyle}}" style="background-color: {{colorVal}};"></div>
				<!-- <a class='delete' href='#'>&times;</a> -->
				<input type="text" class="swatch-item__label" value="{{swatchLabel}}">
			</div>
			{{/each}}
		<!-- 		<p class='actions'>
				<a class='add button' href='#'>Add</a>
			</p> -->
		</section>
	</div>
</template>