

// Base
@import "base/normalize";
@import "packages/bourbon/bourbon";
@import "packages/neat/neat-helpers";
@import "vars";
@import "base/bitters";
@import "packages/neat/neat";
@import "base/base";
@import "base/utilities";


// Layouts
@import "layouts/layouts";


// Modules

// Typography and Elements
// @import "modules/forms";
// @import "modules/tables";
// @import "modules/lists";
// @import "modules/flashes";
@import "modules/buttons";
@import "modules/palette";


// Partials

@import "partials/landing";
@import "partials/extract";

body {
	// background: #646464;
	&::-webkit-scrollbar { 
	    display: none; 
	}
}

.swatch-item {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-in-out;
	   -moz-transition: opacity 0.3s ease-in-out;
	    -ms-transition: opacity 0.3s ease-in-out;
	     -o-transition: opacity 0.3s ease-in-out;
	        transition: opacity 0.3s ease-in-out;

	&.fade-in {
		opacity: 1;
	}
}