// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #F78A83;
$light-yellow: #FFF6BF;
$light-green: #B8E986;

// Grays
$gray-lightest:     #F8F8F8;
$gray-lighter:      #EEEEEE;
$gray-light:        #DDDDDD;
$gray:              #CCCCCC;
$gray-dark:         #999999;
$gray-darker:       #666666;
$gray-darkest:      #333333;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: #333;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;